@model ManageUsersModel

@{
    ViewData["Title"] = "Users";
}


<div class="container-xxl content-wrapper">

    <div class="event-title"><h1>Модуль администратора</h1></div>

    <div class="main-content-block row">
        <div class="amount-info px-2 col-12">
            <p>Общее количество пользователей: @Model.AmountOfUsers</p>
            <p>Количество администраторов: @Model.AmountOfAdmins</p>
            <p>Количество модераторов: @Model.AmountOfModerators</p>
            <p>Количество организаторов: @Model.AmountOfOrganizers</p>
            <p>Количество спортсменов: @Model.AmountOfSportsmen</p>
        </div>
        <div class="col-1 p-0">
        </div>

        <div class="col-10">

            <div class="table-fixed-row row p-0">
                <div class="col-2 px-1 content-cell">Логин</div>
                <div class="col-2 px-1 content-cell">Фамилия Имя</div>
                <div class="col-2 px-1 content-cell">Права доступа</div>
                <div class="col-2 px-1 content-cell">Регион</div>
                <div class="col-2 px-1 content-cell">Клуб</div>
                <div class="col-1 px-1 content-cell">Сохранить</div>
                <div class="col-1 px-1 content-cell">Удалить</div>
            </div>
            @foreach (var user in Model.Users)
            {
                if (user.Role == "admin" || (user.Role == "moderator" && User.IsInRole("moderator")))
                {
                    <div class="table-fixed-row row p-0">
                        <div class="col-2 p-1 content-cell">@user.Login</div>
                        <div class="col-2 p-1 content-cell">@(user.Name + " " + user.Surname) </div>
                        <div class="col-2 p-1 content-cell">@user.Role</div>
                        <div class="col-2 p-1 content-cell">@user.Region</div>
                        <div class="col-2 p-1 content-cell">@user.Club</div>
                        <div class="col-2 p-1 content-cell">Не достаточно прав</div>
                    </div>
                }
                else
                {
                    <form asp-action="Edit" asp-antiforgery="true" asp-controller="Manage" asp-route-login="@user.Login">
                        <div class="table-fixed-row row p-0">
                            <div class="col-2 p-1 content-cell">@user.Login</div>
                            <div class="col-2 p-1 content-cell">@(user.Name + " " + user.Surname) </div>
                            <div class="col-2 p-0 content-cell">
                                <select class="role-select" name="RoleId">
                                    @foreach (var role in ViewBag.Roles)
                                    {
                                        if (role.Value == user.RoleId.ToString())
                                        {
                                            <option value="@role.Value" selected>@role.Text</option>
                                        }
                                        else if (!(role.Text == "admin" || (role.Text == "moderator" && User.IsInRole("moderator"))))
                                        {
                                            <option value="@role.Value">@role.Text</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="col-2 p-1 content-cell">@user.Region</div>
                            <div class="col-2 p-1 content-cell">@user.Club</div>
                            <div class="col-1 p-0 content-cell">
                                <div class="save-button p-0">
                                    <input type="submit" value="Сохранить" />
                                </div>
                            </div>
                            <div class="col-1 p-0 content-cell">
                                <div class="dell-button p-0">
                                    <a asp-action="Delete" asp-route-login="@user.Login">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            }
        </div>
        <div class="col-1 p-0">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
    </div>


</div>







@section styles
{
    <link rel="stylesheet" type="text/css" href="~/css/manage_users_styles.css">
}
