@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
    var page = Context.Request.Query["page"];
    var year = Context.Request.Query["year"];
    var region = Context.Request.Query["regionId"];
    var month = Context.Request.Query["month"];
}

<div class="w-100 main-picture">
    <div class="site-name"><h1>OrienteeringUkraine</h1></div>
</div>

<div class="container-xxl content-wrapper">

    <form asp-antiforgery="false" asp-action="Index" asp-controller="Home" method="get">
        <div class="row search-row w-100">
            <div class="col-3">

                <div class="row">

                    <div class="col-3 p-0 pb-1">Регион: </div>
                    <div class="col-9 p-0 select-list">
                        <select class="select-region" name="RegionId" asp-for="RegionId" asp-items="ViewBag.Regions" >
                            <option class="region-option"></option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="col-3">

                <div class="row">

                    <div class="col-3 p-0 pb-1">Год: </div>
                    <div class="col-9 p-0 select-list">
                        <select class="select-region"  name="Year" asp-for="Year" asp-items="ViewBag.Years">
                            <option class="year-option"></option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="col-3">

                <div class="row">

                    <div class="col-3 p-0 pb-1">Месяц: </div>
                    <div class="col-9 p-0 select-list">
                        <select class="select-month" name="Month" asp-for="Month" asp-items="ViewBag.Months">
                            <option class="month-option"></option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="col-3">
                <div class=" filter-button"><button type="submit">Фильтровать</button></div>
            </div>

        </div>
    </form>

    <div class="row main-block w-100">

        <div class="col-9 table-content">

            <div class="accordion-wrapper w-100">

                @foreach (var item in Model.Events)
                {
                    <div class="accordion">
                        <div class="row">
                            <div class="col-3 p-1 button-date">@item.EventDate.ToShortDateString()</div><div class="col-9 p-1 button-name">@item.Title</div>
                        </div>
                    </div>
                    <div class="panel">

                        <div class="row accordion-panel-line">

                            <div class="col-9 p-2"><span class="accordion-fixed-text">Регион: </span> <span class="accordion-text">@item.Region</span></div>
                            <div class="col-3 p-2"><a asp-controller="Event" asp-action="Applications" asp-route-id="@item.Id">Заявки</a></div>

                        </div>

                        <div class="row accordion-panel-line">

                            <div class="col-9 p-2"><span class="accordion-fixed-text">Место: </span><span class="accordion-text">@item.Location</span></div>
                            <div class="col-3 p-2"><a href="@item.InfoLink">Информация</a></div>

                        </div>

                        <div class="row accordion-panel-line">

                            <div class="col-9 p-2"><span class="accordion-fixed-text">Организатор: </span><span class="accordion-text">@item.Organizer</span></div>
                            <div class="col-3 p-2"><a href="@item.ResultsLink">Результаты</a></div>

                        </div>
                    </div>
                }

            </div>

                <nav aria-label="...">

                    <ul class="pagination justify-content-center pagination-sm pg-brown">

                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.CurrentPage-1)" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region" tabindex="-1" aria-disabled="true">Назад</a>
                        </li>
                        @if (Model.CurrentPage <= 4)
                        {
                            for (int i = 1; i < Model.CurrentPage; i++)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-route-page="@i" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">@i</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-route-page="1" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">...</a>
                            </li>
                            if (Model.CurrentPage >= Model.CountPages - 3)
                            {
                                for (int i = Model.CountPages - 5; i < Model.CurrentPage - 2; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-route-page="@i" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">@i</a>
                                    </li>
                                }
                            }
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@(Model.CurrentPage - 2)" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">@(Model.CurrentPage - 2)</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@(Model.CurrentPage - 1)" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">@(Model.CurrentPage - 1)</a> 
                            </li>
                        }

                        <li class="page-item active">
                            <a class="page-link" asp-route-page="@Model.CurrentPage" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">@Model.CurrentPage</a>
                        </li>



                        @if (Model.CurrentPage >= Model.CountPages - 3)
                        {
                            for (int i = Model.CurrentPage + 1; i <= Model.CountPages; i++)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-route-page="@i" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">@i</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@(Model.CurrentPage + 1)" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">@(Model.CurrentPage + 1)</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@(Model.CurrentPage + 2)" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">@(Model.CurrentPage + 2)</a>
                            </li>
                            if (Model.CurrentPage <= 4)
                            {
                                for (int i = Model.CurrentPage + 3; i < 7; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-route-page="@i" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">@i</a>
                                    </li>
                                }
                            }
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@Model.CountPages" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">...</a>
                            </li>
                        }

                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.CurrentPage+1)" asp-route-year="@year" asp-route-month="@month" asp-route-regionId="@region">Вперед</a>
                        </li>

                    </ul>
                </nav>

            </div>

        <div class="col-3 news-content">

            <img class="new-year-picture" src="img/snowSHAR.jpg" alt="">
            <span class="new-year-text">С наступающим 2021 годом!</span>

            <img class="news-picture" src="img/5-best-websites-for-watching-news-1.png" alt="">

        </div>

    </div>

</div>


@section styles
{
    <link rel="stylesheet" type="text/css" href="~/css/home_index_styles.css">
}

@section scripts
{
    <script src="~/js/home_index_script.js" asp-append-version="true"></script>
}
