@model ApplicationData
@{
    ViewData["Title"] = "Edit";
    var id = Context.Request.Query["id"].ToString();
    if (id == "")
    {
        id = Context.Request.Path.Value.Split('/').Last();
    }
}

<p>@Model.CurrentEvent?.Title</p>
<p>@Model.CurrentEvent?.Region</p>
<p>@Model.CurrentEvent?.Location</p>
<p>@Model.CurrentEvent?.Date</p>
<form asp-action="Edit" asp-controller="Apply" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Chip">Чип</label><br />
            <input type="number" min="1" max="999999999" asp-for="Chip"/>
            <span asp-validation-for="Chip" />
        </div>
        <div>
            <label asp-for="GroupId">Группа</label><br />
            <select asp-for="GroupId" asp-items="ViewBag.Groups"><option value=""></option></select>
            <span asp-validation-for="GroupId" />
        </div>
        <div>
            <input type="submit" value="Изменить" />
        </div>
    </div>
</form>
<div>
    <a asp-action="Delete" asp-route-id="@id">Удалить заявку</a>
</div>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        jQuery.extend(jQuery.validator.messages, {
            required: "This field is required.",
            remote: "Please fix this field.",
            email: "Please enter a valid email address.",
            url: "Please enter a valid URL.",
            date: "Please enter a valid date.",
            dateISO: "Please enter a valid date (ISO).",
            number: "Введите коректное число",
            digits: "Please enter only digits.",
            creditcard: "Please enter a valid credit card number.",
            equalTo: "Please enter the same value again.",
            accept: "Please enter a value with a valid extension.",
            maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
            minlength: jQuery.validator.format("Please enter at least {0} characters."),
            rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
            range: jQuery.validator.format("Please enter a value between {0} and {1}."),
            max: jQuery.validator.format("Введите число большее или равное {0}."),
            min: jQuery.validator.format("Введите число меньнее или равное {0}.")
        });
    </script>
}
@section styles{
    <style>
        .input-validation-error {
            background: crimson
        }

        input, select, option {
            color: black;
        }
    </style>
}


