@model AccountUserModel

@{
    ViewData["Title"] = "Profile";
    string login = Context.Request.Query["login"];
}

<div class="container-xxl content-wrapper pt-4">

    <div class="row mx-4">
        <div class="col-2"></div>
        <div class="col-8 p-0">
            <div class="outter-wrapper p-4">
                <div class="inner-wrapper">
                    <h1 class="mt-2">Профиль</h1>

                    <div class="form-group row my-2">
                        <div class="col-2"></div>
                        <div class="col-2 p-0"><span>Логин</span></div>
                        <div class="col-2"></div>
                        <div class="col-4 p-0">
                            <span>@Model.Login</span>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="form-group row my-2">
                        <div class="col-2"></div>
                        <div class="col-2 p-0"><span>Имя</span></div>
                        <div class="col-2"></div>
                        <div class="col-4 p-0">
                            <span>@Model.Name</span>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="form-group row my-2">
                        <div class="col-2"></div>
                        <div class="col-2 p-0"><span>Фамилия</span></div>
                        <div class="col-2"></div>
                        <div class="col-4 p-0">
                            <span>@Model.Surname</span>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="form-group row my-2">
                        <div class="col-2"></div>
                        <div class="col-2 p-0"><span>Дата рождения</span></div>
                        <div class="col-2"></div>
                        <div class="col-4 p-0">
                            <span>@Model.Birthday?.ToShortDateString()</span>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="form-group row my-2">
                        <div class="col-2"></div>
                        <div class="col-2 p-0"><span>Регион</span></div>
                        <div class="col-2"></div>
                        <div class="col-4 p-0">
                            <span>@Model.Region</span>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="form-group row my-2">
                        <div class="col-2"></div>
                        <div class="col-2 p-0"><span>Клуб</span></div>
                        <div class="col-2"></div>
                        <div class="col-4 p-0">
                            <span>@Model.Club</span>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="form-group row my-2">
                        <div class="col-2"></div>
                        <div class="col-2 p-0"><span>Роль</span></div>
                        <div class="col-2"></div>
                        <div class="col-4 p-0">
                            <span>@Model.Role</span>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="form-group row my-2">
                        <div class="col-2"></div>
                        <div class="col-2 p-0"></div>
                        <div class="col-2"></div>
                        <div class="col-4 p-0">
                            <div class="profile-edit-button">
                                @if (User.Identity.Name == login)
                                {
                                    <a asp-action="Edit" asp-route-login="user.indententy.name">Редактировать</a>
                                }
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/account_profile_styles.css">
}
